html{
    text-align: center;
    background-color: black;
}

h1{
  color: cyan;
  font-size: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, black, blue);
  animation: borderTop 10s linear infinite;
padding: 15px;


}
.fulltek {
  overflow: hidden;
}
h2{
  color: rgb(236, 236, 236);
  font-size: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(12, 1, 1), rgb(111, 141, 143));
  animation: borderTop 10s linear infinite;
padding: 15px;

}
h3{
  font-size: 20px;
  color: rgb(31, 234, 241);

}
h4{
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-style: italic;
}
h5{
  color: rgb(204, 226, 247);
  font-size: 40px;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(58, 56, 56), rgb(2, 238, 255));
  animation: borderTop 10s linear infinite;
padding: 15px;
}

.rejilla{
display: grid;
background-color: black;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  border-radius: 15px;

}
.rejilla2{
  background-color: cyan;
  border-radius: 15px;
  font-size: 20px
}

.suscripcion{
  display: grid;
  justify-content: center;
  background: rgb(134, 241, 241);
  border-radius: 15px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 25px;



}
.comentarios{
  display: grid;
  background-color: rgb(1, 3, 3);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.comentarios2{
  background-color: cyan;
  border-radius: 15px;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.cliente{
  display: grid;
  background-color: rgb(1, 3, 3);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.cliente1{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  
}
.skins{
  display: grid;
  background-color: rgb(1, 3, 3);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.skins1{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 20px;
  
}

.flecha{
  display: grid;
  background-color: rgb(1, 3, 3);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.flecha1{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 10px;
  margin-left: 100px;
  margin-right: 100px;
  size: 10px;
}
.cont-temporizador{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cont-temporizador .bloque{
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-temporizador .bloque div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    box-shadow: 0px 0px 6px 2px blue inset;
    color: black;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cont-temporizador .bloque p{
    font-size: 11px;
    font-weight: bold;
    color: cyan;
}

a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    background-color: cyan;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 30px 60px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.);
    overflow: hidden;
  }

  a:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: cyan;
  }

  @keyframes borderTop{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
  }
